In [1]:
import pandas as pd

In [4]:
import pandas as pd
import re

# Örnek veri
data = pd.read_csv('movies_with_years.csv')

# DataFrame oluşturuluyor
df = pd.DataFrame(data, columns=["Title"])

# Fonksiyon: Veriyi işleme
def parse_movie_data(row):
    data = row["Title"]
    
    # Tırnaklar arasındaki verileri tek bir alan olarak almak
    pattern = r'("[^"]*")'
    matches = re.findall(pattern, data)

    # Tırnaklar arasındaki metinleri koruyarak virgüllerle ayırma işlemi
    data_without_quotes = re.sub(pattern, '###QUOTED###', data)
    columns = data_without_quotes.split(',')

    # Eğer kolon sayısı eksikse, eksik olanları None ile dolduruyoruz
    while len(columns) < 9:
        columns.append(None)

    # "###QUOTED###" olan yerleri tekrar tırnaklı veri ile değiştirmek
    for i in range(len(columns)):
        # Eğer veri None değilse, o zaman işlem yapıyoruz
        if columns[i] and '###QUOTED###' in columns[i]:
            columns[i] = matches.pop(0).strip('"')

    # Sonuçları anlamlı hale getirmek
    result = {
        "Title": columns[0],
        "Year": columns[1],
        "Genre": columns[2],
        "Director": columns[3],
        "Actors": columns[4],
        "BoxOffice": columns[5],
        "Runtime": columns[6],
        "Poster": columns[7],
        "Country": columns[8]
    }

    return result

# DataFrame'deki her satıra uygulama
parsed_data = df.apply(parse_movie_data, axis=1)

# Yeni bir DataFrame oluşturuluyor
parsed_df = pd.json_normalize(parsed_data)

# Sonuçları gösterme
print(parsed_df)

                                           Title  Year  \
0     Star Wars: Episode VII - The Force Awakens  2015
1                                 Jurassic World  2015
2                                      Furious 7  2015
3                        Avengers: Age of Ultron  2015
4                                        Minions  2015
...                                          ...   ...
1913                                 The Servant  2010
1914                              Norwegian Wood  2010
1915                             Head Over Heels  2010
1916                                13 Assassins  2010
1917                                  Green Zone  2010

                             Genre                   Director  \
0        Action, Adventure, Sci-Fi                J.J. Abrams
1        Action, Adventure, Sci-Fi            Colin Trevorrow
2                 Action, Thriller                  James Wan
3        Action, Adventure, Sci-Fi                Joss Whedon
4     Animation, Adventure, Comedy  Kyle Balda, Pierre Coffin
...                            ...                        ...
1913        Comedy, Drama, Romance                Kim Dae-woo
1914                Drama, Romance              Anh Hung Tran
1915                        Comedy           Roberto Santucci
1916      Action, Adventure, Drama              Takashi Miike
1917       Action, Drama, Thriller            Paul Greengrass

                                                Actors     BoxOffice  Runtime  \
0               Daisy Ridley, John Boyega, Oscar Isaac  $936,662,225  138 min
1        Chris Pratt, Bryce Dallas Howard, Ty Simpkins  $653,406,625  124 min
2              Vin Diesel, Paul Walker, Dwayne Johnson  $353,007,020  137 min
3         Robert Downey Jr., Chris Evans, Mark Ruffalo  $459,005,868  141 min
4             Sandra Bullock, Jon Hamm, Michael Keaton  $336,045,770   91 min
...                                                ...           ...      ...
1913        Kim Ju-hyuk, Ryu Seung-beom, Cho Yeo-jeong           N/A  124 min
1914  Ken'ichi Matsuyama, Rinko Kikuchi, Kiko Mizuhara       $13,000  133 min
1915       Ingrid Guimarães, Maria Paula, Bruno Garcia           N/A  101 min
1916       Kôji Yakusho, Takayuki Yamada, Yûsuke Iseya      $802,778  141 min
1917            Matt Damon, Jason Isaacs, Greg Kinnear   $35,053,660  115 min

                                                 Poster  \
0     https://m.media-amazon.com/images/M/MV5BOTAzOD...
1     https://m.media-amazon.com/images/M/MV5BNzBhNz...
2     https://m.media-amazon.com/images/M/MV5BMTQxOT...
3     https://m.media-amazon.com/images/M/MV5BODBhYT...
4     https://m.media-amazon.com/images/M/MV5BODI4Nz...
...                                                 ...
1913  https://m.media-amazon.com/images/M/MV5BMTYxMj...
1914  https://m.media-amazon.com/images/M/MV5BODQ3NT...
1915  https://m.media-amazon.com/images/M/MV5BMTk3Nz...
1916  https://m.media-amazon.com/images/M/MV5BODg3MT...
1917  https://m.media-amazon.com/images/M/MV5BMTYzMT...

                                                Country
0                         United States, United Kingdom
1                                 United States, Canada
2     United States, China, Japan, Canada, United Ar...
3                                         United States
4                                         United States
...                                                 ...
1913                                        South Korea
1914                                              Japan
1915                                             Brazil
1916                              Japan, United Kingdom
1917  United Kingdom, France, Spain, United States, ...

[1918 rows x 9 columns]

In [5]:
# veriyi csv kaydet
parsed_df.to_csv('parsed_movies.csv', index=False)